*.class
*.log

# platform specific gdx libs automatically downloaded by sbt
ios/libs/ios
gdx*.jar
libandroidgl20.so
libgdx.so

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ project files
.idea*